*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
  background-color: aliceblue !important;
}

#root{
  height: 100vh;
  width: 100%
}

.App {
  height: 90vh;
  width: 90vh;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.results {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input {
  font-family: "SF Pro";
  max-width: 190px;
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}

.tooltip{
  min-width: 300px;
  text-align: center;
}

.info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #509AF8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 15px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

.option {
  border: 2px solid black;
  box-shadow: 2px 2px black;
  height: 40px;
  width: auto;
  min-width: 170px;
  margin: 20px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  background: white;
}



.Card{
  height: 500px;
  width: 100%;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  background-color: white;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  height: 10%;
}

.layout {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.col {
  height: 100%;
  width: 50%;
}

img.flag {
  height: 50%;
  width: 95%;
  margin-top: 20px;
}

.subtitle {
  font-size: 20px;
}

.lenlist {
  padding: 10px 25px;
}

.infocont.col {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infobold {
  font-weight: 600;
}

span.infoo {
  font-weight: normal;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  min-width: 250px;
}

button.show {
  height: 90%;
  text-align: center;
  background: transparent;
}

button.show {
  height: 80%;
  text-align: center;
  border: 1px solid;
  line-height: 7px;
  background: aliceblue;
  cursor: pointer;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}