*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html{
  width: 100%;
}

body{
  width: 100%;
  background-color: aliceblue;
}

#root{
  width: 100%;
}

.card{
  height: 85%;
  width: 400px;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 25%;
  border-radius: 28px;
  background: #cddfea;
  box-shadow:  -10px -10px 20px #818c93, 10px 10px 20px #ffffff;
}

.title{
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  margin: 15px 0;
}

.blogs {
  height: 80%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: scroll;
}



.blog {
  width: 100%;
  min-height: 50px;
  border-radius: 30px;
  background: azure;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 50px;
  transition: 500ms;
}


.blog:last-child {
  margin-bottom: 20px;
}

.logout {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.close {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 25px;
  font-weight: 600;
  border: none;
  background: transparent;
  text-shadow: 3px -1px 1px #818c93;
  color: #ffffff;
}

.close:hover {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 25px;
  font-weight: 600;
  border: none;
  background: transparent;
  text-shadow: -1px -1px 1px #818c93;
  color: #ffffff;
  cursor: pointer;
  transition: 400ms;
}

.info {
  width: 70%;
  transition: 700ms;
}

.ifo {
  margin: 5px 0px;
  font-weight: 600;
}

.if {
  font-weight: 100;
  margin-left: 10px;
}

.fullinfo {
  display: none;
  margin: 3px 10px;
}

.fullinfo.droped{
  display: block;
}

@keyframes drop {
  from{
    height: 50px;
  }
  to{
    height: 170px;
  }
}

.blog.droped{
  transition: 700ms;
  animation: drop 700ms ease;
  height: 170px;
}
